@model GigHub.ViewModel.GigViewModel
@{
    ViewBag.Title = "Home Page";
}



<ul class="gigs">
    @foreach (var gigs in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">@gigs.DateTime.ToString("MMM")</div>
                <div class="day">@gigs.DateTime.ToString("d ")</div>
            </div>


            <div class="details">
                <span class="artist">@gigs.Artist.Name</span>
                @if (Model.ShowActions)
                {
                    <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@gigs.ArtistId">Follow</button><br />

                }

                <span class="genre">@gigs.Genre.Name</span>
                @if (Model.ShowActions)
                {
                    <button data-gig-id="@gigs.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going ?</button>
                }
            </div>
        </li>
    }
</ul>

@section scripts{
    <script>

        $(document)
            .ready(function () {

                $(".js-toggle-attendance")
                    .click(function (e) {
                        var button = $(e.target);
                        $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                            .done(function () {
                                button
                                    .removeClass("btn-default")
                                    .addClass("btn-info")
                                    .text("Going");
                            })
                            .fail(function () {
                                alert("Something failed");
                            });
                    });

                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Something failed");
                        });
                });
            });
    </script>
}